# Training Data & Logs (The big stuff)
logs/
models/
MUJOCO_LOG.TXT
evaluations.npz
Graphs

# Python system files
__pycache__/
*.pyc

# IDE settings
.vscode/

#new files
telemetry.py
trainA.py
spot_envA.py
plot_icra_style.py

mujoco_menagerie